body {
  color: #121212;
}

nav {
  transition-duration: 0.3s;
  background-color: #121212 !important;
  height: 86px;
}

.nav-item {
  width: 150px;
}

.navbar-right>.nav-icon {
  width: 130px;
}

.logo {
  height: 50px;
  width: auto;
}

body>.container {
  margin-top: 100px;
}

.active {
  color: #4d7e8f !important;
}



.mr-auto>li {
  font-weight: bold;
  font-size: 18px;
  border-left: 1px solid #4d7e8f;
}

.mr-auto>li:nth-child(1) {
  border: 0;
}

.navbar-right>.nav-item {
  height: 70px;
}

.cart {
  position: relative;
  height: 1.6em;
  fill: #fff;
}

.badge {
  position: absolute;
  background-color: #ddd;
  color: #121212;
}

.navbar-side {
  position: absolute;
  top: 10px;
  right: 50px;
}

.navbar-right {
  flex-direction: row !important;
}

@media only screen and (max-width: 1199px) {
  .mr-auto>li {
    border-left: 0;
    width: 100%;
    background-color: #121212;
  }

  .navbar-right {
    position: fixed;
    left: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    display: none;
  }
}

.carousel-caption {
  background-color: #000000cc;
}

.icon {
  align-items: center;
  justify-content: center;
}


.icon>img {
  height: 5em;
  margin-top: 2em;
}

h3 {
  margin-top: 1.5em;
}

.product-image {
  align-items: center;
  justify-content: center;
}

.checked {
  color: orange;
}

tr:nth-of-type(even) {
  background-color: #d0e1ec;
}

tr:hover {
  background-color: #bfd6dd;
}

.border_bottom {
  border-bottom: 1px solid #dee2e6;
}

footer {
  color: #fff;
  background-color: #121212;
}

.footer-copyright {
  border-top: 1px solid #4d7e8f;
}

footer a {
  color: #4d7e8f;

}

ol {
  list-style-type: none;
}

.breadcrumb-item>a {
  font-weight: bold;
  color: #4d7e8f;
}

.card-link {
  color: #000;
}

.old-price {
  text-decoration: line-through;
  margin-bottom: 0;
  color: #333;
}

.new-price {
  font-size: 1.3em;
}

.carousel {
  margin-bottom: 15px;
}